[Unit]
Description=Linux Router Manager Core
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/linux-router/core

ExecStart=/opt/linux-router/core/venv/bin/gunicorn  --workers 1  --bind 127.0.0.1:5050  core:app

Restart=always
RestartSec=2

User=root
Group=root

[Install]
WantedBy=multi-user.target
